[submodule "tpick"]
	path = tpick
	url = git@github.com:smblott-github/tpick.git
[submodule "dwm"]
	path = dwm
	url = https://gitlab.computing.dcu.ie/sblott/dwm
[submodule "dmenu"]
	path = dmenu
	url = git@gitlab.computing.dcu.ie:sblott/dmenu.git
